@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Below 3 lines are used to hide the default header and images which are displayed by default in streamlit. */
#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;} 

/* This is used to design the overall design of the webpage, similar to body tag which is used to 
give styling to the complete page at once. */
.stApp {
    /* background-color: #060606; Used to give a class background color */
    /*Uploaded the background image on a website imgur and used it as url. */
    background-image: url(https://i.imgur.com/GKDADh2.png);
    overflow: hidden;
}

/* Used to place the main heading of the website at correct position with respect to the browser tab. */
.st-emotion-cache-1n76uvr{
    margin-top: -100px;
}

/* This class is used to give style to the main div of the page. */
.block-container {
    padding-bottom: 100px;/*Used to adjust the last div of the page*/
}

/* this tag is used to style the main heading of the page i.e AI-Driven .... */
h2 {
    color: #70b2f0;
    font-family: 'Poppins', serif;
    text-align: center;
    -webkit-text-stroke: .5px black; /* Used to give a border in the text. */
    font-style: bold;
}

/* this tag is used to style the sub heading of the page i.e Enhance your Resume with AI Insights .... */
h3 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: x-large;
    margin-bottom: 15px;
}

/* Below 3 classes are used to style the the 
/* This is used to give shadow to highlight the text area for JD. */
.st-emotion-cache-1erivf3 {
    box-shadow: white .5px .5px 2px 1px;
    /* opacity: 0.7; */
}

/* This is used to give shadow to highlight the file uploader section. */
.st-emotion-cache-7vf78i.e1b2p2ww15{
    box-shadow: white .5px .5px 2px 1px;
    opacity: 0.7;
}

/* This is used to give shadow to the text input for custom questions. */
.st-af {
    box-shadow: white .5px .5px 2px 1px;
    opacity: 0.7;
}

/* This class is used to style the 6 buttons */
div.stButton button {
    width: 225px;
    background-color: #4ea9fc;
    color: white;
    justify-content: space-around;
    border: 0px solid #65a9e9;
    box-shadow: white .5px .5px 1px .5px;
    opacity: 0.7;
    /* Note: The use of !important is added to ensure that this style takes precedence over any default styles.*/
    color: inherit !important; 
}

div.stButton :hover{
    background-color: #2d8eff;
    color: white;  
}

/*This is used to give weight to the text inside the 6 buttons.*/
div.stButton p{
    font-weight: 600;
}

/* This is used to align the search button with the text area and give color to it.*/
[data-testid="baseButton-primary"]{
    margin-top: 28px;
    background-color: #db616f!important;
    width: 90px !important;
}

[data-testid="baseButton-primary"] :hover{
    background-color: #db616f!important;
}

/*This class is used to style the footer of the webpage i.e caption. */
.st-emotion-cache-1wncz92 p {
    font-weight: 500;
    color: white;
    opacity: 0.9;
}

/*This class is used to style the generated response from the api*/
.st-emotion-cache-nahz7x {
    font-family: 'Arial', serif !important;
    text-align: justify !important;
}